.secao       { padding-top: 20px; font-size: 2.4em; }
.subsecao    { padding-top: 16px; font-size: 2.0em; }
.subsubsecao { font-size: 1.6em; }
.fundo-azul,.fundo-azul-hover:hover { background-color: #0081c0; }
.borda-azul,.borda-azul-hover:hover { border-color:#0081c0!important; }
.texto-azul,.texto-azul-hover:hover { color: #0081c0!important; }
.fundo-ocre,.fundo-ocre-hover:hover { background-color: #bd8700; }
.borda-ocre,.borda-ocre-hover:hover { border-color:#bd8700!important; }
.texto-ocre,.texto-ocre-hover:hover { color:#bd8700!important; }
.fundo-red,.fundo-red-hover:hover { background-color: #991f00; }
.borda-red,.borda-red-hover:hover { border-color:#991f00!important; }
.texto-red,.texto-red-hover:hover { color:#991f00!important; }
.sticky { position: -webkit-sticky; position: sticky; top: 0; }


